dockerspawner
pandas
numpy
matplotlib
scikit-learn
scipy
seaborn
jupyterlab
jupyterlab-git
Django==4.2
psycopg2-binary
biopython
scanpy
plotly
urllib3<2.0
django-widget-tweaks
celery==5.5.2
redis
rake_nltk
nltk
gunicorn==20.1.0
transformers==4.41.2
huggingface_hub==0.23.4
torch
PyPDF2==3.0.1
sentence-transformers==2.2.2
requests==2.31.0
beautifulsoup4==4.12.2
faiss-cpu==1.11.0
PyMuPDF==1.23.7
langchain_ollama

# NEW — For workflow orchestration
snakemake
python-multipart


channels==4.1.0
channels_redis==4.2.0
djangorestframework
pysam